<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<header th:replace="fragments :: regions-header"></header>

<div class="areas-container">
    <div class="areas-header">
        <h2>All Regions</h2>
        <hr style="width: 12rem; color: #45110f"/>
    </div>

    <table class="area-table">
        <tr th:each="region : ${regions}">
            <td>
                <a th:href="@{'/regions/view/' + ${region}}" th:text="${region.displayName} + '  >'"></a>
            </td>
        </tr>
    </table>


</div>

<footer th:replace="fragments :: navbar"></footer>

</body>

</html>