<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<header th:replace="fragments :: header"></header>

<div class="top-tile">
    <div class="tile-header">
        <h2 th:text="${region.displayName} + ' Region'"></h2>
        <hr/>
    </div>

    <table class="area-table">

        <div class="table-header">
            <div class="table-title">
            <h2>Areas:</h2>
            <hr/>
            </div>

            <div class="add-area">
                <a href="/areas/create">Add Area</a>
            </div>
        </div>

        <tr th:each="area : ${areas}">
            <td th:if="${area.region == region}">
                <a th:href="@{'/areas/view/' + ${area.id}}" th:text="${area.name} +  '  >'"></a>
                <p th:text="${area.routes.size} + ' routes'"></p>
            </td>
        </tr>
    </table>

</div>

<footer th:replace="fragments :: navbar"></footer>

</body>

</html>