* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-family: sans-serif;
}

/* background/flexbox */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/photos/chris1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}

/* page title */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 100%;
  color: #000508;
  background-color: #45110f;
  color: #f1f0f5;
  font-size: 1.5rem;
  z-index: 2;
  position: fixed;
  top: 0;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

header h5 {
  padding-bottom: 0.3rem;
}

/* containers */

.home-container,
.form-container,
.areas-container {
  color: #f1f0f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: #645856;
  height: 100%;
  width: 80%;
  padding: 2%;
  margin-top: 8rem;
  margin-bottom: 8rem;
  border-radius: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

/* headers */

.home-header,
.form-header,
.areas-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f1f0f5;
  width: 80%;
}

/* home view */

.home-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
  padding: 2%;
  height: 100%;
  width: 100%;
}

.welcome {
  padding: 2%;
  margin-bottom: 2rem;
}

.stats {
  background-color: #796a67;
  padding: 4%;
  border-radius: 1rem;
  color: #43100f;
}

/* area views */

.area-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 2rem;
  padding-left: 2%;
  padding-right: 2%;
  height: 100%;
  width: 100%;
}

.area-info h3 {
  color: #43100f;
  padding-bottom: 2%;
}

.description,
.region {
  align-self: flex-start;
  margin-bottom: 2rem;
  text-align: left;
}

/* forms */

.create-form {
  color: #f1f0f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  width: 100%;
  padding: 2%;
}

.form-input {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.form-input input,
.form-input textarea,
.form-input select {
  background-color: #f1f0f5;
  border: none;
  border-radius: 4px;
  padding: 2%;
}

.form-input label {
  color: #43100f;
  padding: 1rem;
  margin-top: 1rem;
  font-weight: bold;
}

.errors {
  color: #f1f0f5;
  padding: 2%;
  font-size: 15px;
  text-shadow: -1px 0 #43100f, 0 1px #43100f, 1px 0 #43100f, 0 -1px #43100f;
}

/* form button */

.form-submit input[type="submit"] {
  color: rgb(241, 240, 245);
  background-color: #43100f;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 4rem;
}

.form-submit input[type="submit"]:hover {
  cursor: pointer;
  border: 0.5px solid #f1f0f5;
}

/* edit area button / link */

.edit-submit input[type="submit"],
.edit-submit a {
  color: rgb(241, 240, 245);
  background-color: #43100f;
  border: none;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.edit-submit {
  margin-bottom: 2rem;
  align-self: flex-start;
}

.edit-submit input[type="submit"],
.edit-submit a:hover {
  cursor: pointer;
  border: 0.5px solid #f1f0f5;
}

/* update/remove area button */

.update-area input[type="submit"],
.update-area a {
  color: rgb(241, 240, 245);
  background-color: #43100f;
  border: none;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.update-area {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1.65rem;
  align-self: flex-start;
}

/* tables */

.area-table {
  width: 100%;
  padding: 2%;
  color: #43100f;
  font-size: 20px;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.area-table a:link,
.area-table a:visited {
  text-decoration: none;
  color: #43100f;
}

.area-table td {
  width: 100%;
  padding: 2%;
  margin: 2rem;
  border-radius: 2px;
  text-align: left;
}

.area-table tr:nth-child(odd) {
  background-color: #796a67;
}

/* nav/footer */

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3.5rem;
  width: 80%;
  color: #000508;
  background-color: #45110f;
  font-size: 1rem;
  border-radius: 2rem;
  z-index: 2;
  position: fixed;
  bottom: 0;
  margin-bottom: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.nav-link {
  padding: 1rem;
}

.nav-link a:link,
a:visited {
  color: #f1f0f5;
  text-decoration: none;
  font-size: 0.8rem;
  text-align: center;
  outline: none;
}
