<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<header th:replace="fragments :: routes-header"></header>

<div class="form-container">
    <div class="form-header">
        <h2>Create New Route</h2>
        <hr style="width:13rem; color:#45110f;">
    </div>
    <form class="create-form" method="post" action="/routes/create">

        <div class="form-input">
            <label>Route Name: </label>
            <input th:field="${route.name}">
            <p class="errors" th:errors="${route.name}"></p>
        </div>

        <div class="form-input">
            <label>Route Description: </label>
            <textarea th:field="${route.description}"></textarea>
            <p class="errors" th:errors="${route.description}"></p>
        </div>

        <div class="form-submit">
            <input type="submit" value="Add Route">
        </div>
    </form>
</div>

<footer th:replace="fragments :: navbar"></footer>

</body>

</html>