<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<header th:replace="fragments :: header"></header>

<div class="top-tile">
    <div class="tile-header">
        <h2>Edit Route</h2>
        <hr/>
    </div>

    <form class="create-form" method="post">

        <div class="form-input">
            <input type="hidden" th:value="${route.id}" name="routeId"/>
        </div>

        <div class="form-input">
            <label>Area: </label>
            <select th:field="${route.area}">
                <option th:each="area : ${areas}"
                        th:value="${area.id}"
                        th:text="${area.name}"></option>
            </select>
        </div>

        <div class="form-input">
            <label>Route Name: </label>
            <input th:field="${route.name}">
            <p class="errors" th:errors="${route.name}"></p>
        </div>

        <div class="form-input">
            <label>Route Description: </label>
            <textarea th:field="${route.description}"></textarea>
            <p class="errors" th:errors="${route.description}"></p>
        </div>

        <div class="buttons-container">
            <div class="update-area">
                <input type="submit" value="Update Route">
            </div>

            <div class="remove-area">
                <button type="submit" name="delId" th:value="${route.id}"
                        onclick="alert('Are you sure you want to remove this route?')">Remove Route
                </button>
            </div>
        </div>

    </form>
</div>

<footer th:replace="fragments :: navbar"></footer>

</body>

</html>