<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<header th:replace="fragments :: routes-header"></header>

<div class="areas-container">
    <div class="areas-header">
        <h2>All Routes</h2>
        <hr style="width: 12rem; color: #45110f"/>
    </div>

    <table class="area-table">
        <tr th:each="route : ${routes}">
            <td>
                <a th:href="@{'/routes/view/' + ${route.id}}" th:text="${route.name} +  '  >'"></a>
            </td>
        </tr>
    </table>

    <div class="edit-submit">
        <a href="/routes/create">Add Route</a>
    </div>

</div>

<footer th:replace="fragments :: navbar"></footer>

</body>

</html>