<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<header th:replace="fragments :: header"></header>

<div class="top-tile">
    <div class="tile-header">
        <h2 th:text="${route.name}"></h2>
        <hr/>
    </div>

    <div class="area-info">
        <img th:src="@{/photos/chris1.jpg}"/>
        <div class="description">
            <h3>Description: </h3>
            <p th:text="${route.description}"></p>
        </div>

        <div class="edit-submit">
            <a th:href="@{/routes/edit/{id}(id=${route.id})}">Edit Route</a>
        </div>

    </div>

</div>

<footer th:replace="fragments :: navbar"></footer>

</body>

</html>