<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ArkanStone</title>

    <script th:src="@{/script.js}"></script>
    <link th:href="@{/styles.css}" rel="stylesheet">

</head>

<body>
<nav th:fragment="navigation">
    <div class="nav-link">
        <a href="/home">Home</a>
    </div>
    <div class="nav-link">
        <a href="/areas">Areas</a>
    </div>
    <div class="nav-link">
        <a href="/areas/create">Create Area</a>
    </div>
</nav>

</body>
</html>