<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ArkanStone</title>

    <script th:src="@{/script.js}"></script>
    <link th:href="@{/styles.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>

<body>

<header th:fragment="header">
    <div class="site-title">
        <h1>ArkanStone</h1>
        <hr/>
    </div>
    <h5 th:text="${title}"></h5>
</header>

<footer th:fragment="navbar">

    <div class="nav-link">
        <a href="/"><i class="material-icons">cabin</i><br/>HOME</a>
    </div>
    <div class="nav-link">
        <a href="/regions"><i class="material-icons">all_out</i><br/>REGIONS</a>
    </div>
    <div class="nav-link">
        <a href="/areas"><i class="material-icons">art_track</i><br/>AREAS</a>
    </div>
    <div class="nav-link">
        <a href="/routes"><i class="material-icons">timeline</i><br/>ROUTES</a>
    </div>

</footer>

</body>
</html>