<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<header>
    <h1>~ArkanStone~</h1>
    <hr style="width:20rem; color:#f1f0f5; margin-bottom: .25rem;">
    <h5>HOME</h5>
</header>

<div class="home-container">
    <div class="home-header">
        <h2>Welcome<br> To<br> The Natural State</h2>
        <hr style="width: 13rem; color: #45110f"/>
    </div>

    <div class="home-info">

        <div class="welcome">
            <p>Down dirt roads, deep in the hilly forests of Arkansas lie some of the
                best rock climbing in the midwestern US. From the outdoor climbing gym-
                like atmosphere of Horseshoe Canyon Ranch to the hallowed walls of Sam’s
                Throne there is something here for anyone itching for single pitches on
                sport or traditional routes. For those looking to get off the beaten path
                or even forge their own, new routes and areas are being developed
                all over the state.</p>
        </div>

        <div class="stats">
            <p th:text="'Regions:  ' + ${regionCount}">Regions: 5</p>
            <p th:text="'Areas:  ' + ${areaCount}">Areas: 5</p>
            <p th:text="'Routes:  ' + ${routeCount}">Routes: 1</p>
        </div>

    </div>
</div>

<footer th:replace="fragments :: navbar"></footer>

</body>

</html>