<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<header th:replace="fragments :: areas-header"></header>

<div class="form-container">
    <div class="form-header">
        <h2>Edit Area</h2>
        <hr style="width:12rem; color:#45110f;">
    </div>
    <form class="create-form" id="editForm" method="post">

        <div class="form-input">
            <input type="hidden" th:value="${area.id}" name="areaId"/>
        </div>

        <div class="form-input">
            <label>Area Name: </label>
            <input th:field="${area.name}">
            <p class="errors" th:errors="${area.name}"></p>
        </div>

        <div class="form-input">
            <label>Area Description: </label>
            <textarea th:field="${area.description}"></textarea>
            <p class="errors" th:errors="${area.description}"></p>
        </div>

        <div class="form-input">
            <label>Region: </label>
            <select th:field="${area.region}">
                <option th:each="region : ${regions}"
                        th:value="${region}"
                        th:text="${region.displayName}"></option>
            </select>
        </div>

        <div class="buttons-container">
            <div class="update-area">
                <input type="submit" value="Update Area">
            </div>

            <div class="remove-area">
                <button type="submit" form="editForm" name="delId" th:value="${area.id}"
                        onclick="alert('Are you sure you want to remove this area?')">Remove Area
                </button>
            </div>
        </div>

    </form>
</div>

<footer th:replace="fragments :: navbar"></footer>

</body>

</html>