<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<header th:replace="fragments :: areas-header"></header>

<div class="areas-container">
    <div class="areas-header">
        <h2>All Areas</h2>
        <hr style="width: 12rem; color: #45110f"/>
    </div>

    <table class="area-table">
        <tr th:each="area : ${areas}">
            <td>
                <a th:href="@{'/areas/view/' + ${area.id}}" th:text="${area.name} +  '  >'"></a>
            </td>
        </tr>
    </table>

    <div class="edit-submit">
        <a href="/areas/create">Add Area</a>
    </div>

</div>

<footer th:replace="fragments :: navbar"></footer>

</body>

</html>