<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>
<header>
    <h1>~ArkanStone~</h1>
    <hr style="width:20rem; color:#f1f0f5; margin-bottom: .25rem;">
    <h5>REMOVE AREA</h5>
</header>

<form method="post">
    <div>
        <th:block th:each="area : ${areas}">
            <label>
                <span th:text="${area.name}"></span>
                <input type="checkbox" name="areaIds" th:value="${area.id}">
            </label>
        </th:block>
    </div>
    <input type="submit" value="Remove">
</form>

<footer>
    <div class="nav-link">
        <a href="/">Home</a>
    </div>
    <div class="nav-link">
        <a href="/areas">Areas</a>
    </div>
    <div class="nav-link">
        <a href="/areas/create">Create Area</a>
    </div>
</footer>
</body>
</html>