<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<header th:replace="fragments :: areas-header"></header>

<div class="areas-container">
    <div class="areas-header">
        <h2 th:text="${area.name}">All Areas</h2>
        <hr style="width: 12rem; color: #45110f"/>
    </div>

    <div class="area-info">
        <!--         <img th:src = "@{/photos/chris1.jpg}" />-->
        <div class="description">
            <h3>Description: </h3>
            <p th:text="${area.description}"></p>
        </div>

        <div class="region">
            <h3>Region: </h3>
            <p th:text="${regionDisplayName}"></p>
        </div>

        <div class="edit-submit">
            <a th:href="@{/areas/edit/{id}(id=${area.id})}">Edit Area</a>
        </div>

    </div>

</div>

<footer th:replace="fragments :: navbar"></footer>

</body>

</html>