<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<header th:replace="fragments :: header"></header>

<div class="top-tile">
    <div class="tile-header">
        <h2 th:text="${area.name}"></h2>
        <hr/>
    </div>

    <div class="area-info">
        <div class="description">
            <h3>Description: </h3>
            <p th:text="${area.description}"></p>
        </div>

        <div class="region">
            <h3>Region: </h3>
            <p th:text="${regionDisplayName}"></p>
        </div>

        <div class="edit-submit">
            <a th:href="@{/areas/edit/{id}(id=${area.id})}">Edit Area</a>
        </div>

    </div>

</div>

<div class="tile-two">

    <table class="route-table">

        <div class="table-header">
            <div class="table-title">
                <h2>Routes:</h2>
                <hr/>
            </div>

            <div class="add-area">
                <a href="/routes/create">Add Route</a>
            </div>
        </div>

        <tr th:each="route : ${routes}">
            <td>
                <a th:href="@{'/routes/view/' + ${route.id}}" th:text="${route.name} + '  >'"></a>
            </td>
        </tr>
    </table>
</div>

<footer th:replace="fragments :: navbar"></footer>

</body>

</html>